.container {
  width: 100vh;
  height: 97vh;
  display: flex;
  background: #fff;
}

.imageSection {
  width: 60%;
  background: url("https://images.unsplash.com/photo-1501117716987-c8e1ecb210e9")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glassCard {
  width: 350px;
  height: 450px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glassCard h1 {
  font-size: 32px;
  color: #0033cc;
}

.formSection {
  width: 40%;
  padding: 120px;
}

.formSection h2 {
  margin-bottom: 30px;
}

.formSection label {
  display: block;
  margin: 15px 0 5px;
}

.formSection input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.formSection button {
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  background: #0b3dff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.link {
  margin-top: 15px;
  text-align: center;
}
